@import "tailwindcss";

/* opcional: full height */
html, body, #root { height: 100%; }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}
